<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width">
    <meta name="description" content="Ekatte bulgarian towns database telebid">
    <meta name="keywords" content="ekatte, bg, bulgaria, towns, db, database, telebid, test, 2022">
    <meta property="og:url" content="https://ekattetelebidyordan.tk/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ekatte task telebid">
    <meta property="og:description" content="Ekatte bulgarian towns database telebid">
    <title>Ekatte task telebid</title>
    <link rel='icon' type='image/png' href='/pics/favicon.ico'>
    <link type="text/css" rel="stylesheet" href="/css/fonts.css">
    <link type="text/css" rel="stylesheet" href="/css/style_index.css">
  </head>
  <body>
    <div class="wrapper">
      <!-- header -->
      <div class="header">
        <!-- header logo -->
        <img class="logo" src="/pics/logo.gif" alt="mg_logo" height="36" width="26">
        <!-- heading -->
        <h1 class="heading">Ekatte task telebid</h1>
        <h1 class="headingSmall">2022</h1>
        <!-- home button -->
        <form name="btnHome" action="/" method="POST">
          <input type="hidden" id="page" name="page" value="3">
          <div href="javascript:;" onclick="parentNode.submit();" class="homeTop">
            <div class="btnHome">Home</div>
          </div>
        </form>
      </div>
      
      <!-- Blob -->
      <div class="blob1">
        <svg viewBox="0 0 650 650" xmlns="http://www.w3.org/2000/svg" width="100%" id="blobSvg">
          <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop offset="0%" style="stop-color: rgb(153, 192, 255);"></stop>
              <stop offset="100%" style="stop-color: rgb(128, 168, 232);"></stop>
            </linearGradient>
          </defs>
          <path id="blob" d="M438.5,306.5Q385,363,338.5,427Q292,491,219,461Q146,431,104,374.5Q62,318,91,260.5Q120,203,148,162.5Q176,122,229.5,91Q283,60,345.5,88.5Q408,117,450,183.5Q492,250,438.5,306.5Z" fill="url(#gradient)"></path>
        </svg>
      </div>
    
      
      <!-- Lower text -->
        <p class="textDown">a small font</p>

      <!-- Home button -->
        <form name="btnHome" action="/" method="POST">
          <input type="hidden" id="page" name="page" value="3">
          <div href="javascript:;" onclick="parentNode.submit();" class="homeDown">
            <div class="btnHome">Home</div>
          </div>
        </form>
      
      <!-- Blob -->
      <div class="blob2">
        <svg viewBox="-150 0 500 500" xmlns="http://www.w3.org/2000/svg" width="100%" id="blobSvg" style="position: absolute;">
          <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop offset="0%" style="stop-color: rgb(153, 192, 255);"></stop>
              <stop offset="100%" style="stop-color: rgb(128, 168, 232);"></stop>
            </linearGradient>
          </defs>
          <path id="blob" d="M446.5,311Q440,372,389,407Q338,442,276.5,466.5Q215,491,174,438Q133,385,105.5,342.5Q78,300,69,247Q60,194,86,142Q112,90,168,79.5Q224,69,284.5,55Q345,41,386,88.5Q427,136,440,193Q453,250,446.5,311Z" fill="url(#gradient)"></path>
        </svg>
      </div>

      <div class="push"></div>
    </div>
    
    <!-- footer -->
    <div class="footer">
      <!-- footer copyright -->
      <h1 class="footer_text">
        &copy; Ekatte task telebid, Yordan Yordanov, March 2022
      </h1>
    </div>
  </body>
</html>